body {
    font-family: 'Roboto', sans-serif;
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.btn-primary {
    transition: all 0.3s;
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #3498db;
}

h2, label {
    color: #fff;
}

.registration-card {
        margin-top: 2rem;
    }

