{% extends 'main.html' %}

{% block content%}
<section class="section-content padding-y bg">
    <div class="container">
     {% for shop, total in total_price_by_shop.items %}
    {% for item in bucket %}
    {% if item.product.shop.name == shop %}
        <form class="card" action="" method="post">
            <div class="row no-gutters">
                <aside class="col-md-8 col-lg-9 cart-items-wrapper">
                    <article class="card-body">
                      Магазин: {{ shop }}
                     <hr>
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <figure class="media">
                                    {% for img in item.product.images.all %}
                                    <a href="" class="img-wrap me-3"> <img class=" border img-sm" src="{{ img.image.url }}" alt=""> </a>
                                    {% endfor %}
                                    <figcaption>
                                        <a href="" class="title h6">{{ item.product.name }}</a>
                                        <p class="text-muted small"></p>
                                        <div class="price-wrap">
                                            <span>{{ item.product.price }}</span> тг / шт.
                                        </div>
                                    </figcaption>

                                </figure>
                            </div>
                        <div class="col-md-5 text-md-right text-right d-flex" >
                            <div class="input-group input-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn btn-light" type="button" id="button-minus">
                                        -
                                    </button>

                                </div>

                                <input type="text" class="text-center form-control mx-2" name="cart-quantity" value="{{ item.quantity }}">

                                  <div class="input-group-append">
                                      <button class="btn btn-light" type="button" id="button-plus">
                                          +
                                      </button>

                                  </div>

                            </div>
                                <a href="" class="delete-from-bucket ms-2 btn btn-light" data-item-id="{{ item.id }}"> <i class="fa fa-trash"></i></a>
                        </div>
                        </div>



                    </article>
                </aside>
            <aside class="col-md-4 col-lg-3 border-left cart-aside">
                <div class="card-body">
                    <dl class="d-flex mb-0 " style="justify-content: space-between">
                        <dl>
                            <strong>Итого:</strong>
                        </dl>
                        <div class="text-right text-dark">
                            {{ total }} тг.
                        </div>
                    </dl>
                    <hr>
                    <a href="" class="btn btn-primary btn-block hide-">Оформить заказ</a>
                </div>

            </aside>
            </div>
        </form>
     {% endif %}
    {% endfor %}
    {% endfor %}
    </div>

</section>

{#    <div class="container pb-4">#}
{#    <hr>#}
{#    {% for shop, total in total_price_by_shop.items %}#}
{#        {% for item in bucket %}#}
{#            {% if item.product.shop.name == shop %}#}
{#                <h4>SHOP: {{ shop }}</h4>#}
{#                <a href="" style="text-decoration: none">#}
{#                <table class="table table-hover" >#}
{#                  <tbody>#}
{#                    <tr>#}
{#                      <th scope="row" class="fix-text" style="width: 250px">{{ item.product.name }}</th>#}
{#                        <td style="width: 350px">{{ item.product.category }}</td>#}
{#                        <td style="width: 350px">Price: {{ item.product.price }} </td>#}
{#                        <td style="width: 350px">Quantity: {{ item.quantity }}</td>#}
{#                        <td style=" text-align: end; width: 100px">#}
{#                            <a href="#" class="delete-from-bucket btn btn-light" data-item-id="{{ item.id }}"><i class="fa fa-trash"></i></a>#}
{#                        </td>#}
{#                    </tr>#}
{#                  </tbody>#}
{#                </table>#}
{#            </a>#}
{#                <h5 style="text-align: end">Total Price: {{ total}}</h5>#}
{#                <button style="text-align: end" class="btn btn-success">Оформить заказ</button>#}
{#    {% endif %}#}
{#    {% endfor %}#}
{#    {% endfor %}#}
{#    </div>#}

{% endblock %}