{% extends 'main.html' %}

{% block content%}
    <div class="container pb-4">
    <hr>
    {% for shop, total in total_price_by_shop.items %}
        {% for item in bucket %}
            {% if item.product.shop.name == shop %}
                <h4>SHOP: {{ shop }}</h4>
                <a href="" style="text-decoration: none">
                <table class="table table-hover" >
                  <tbody>
                    <tr>
                      <th scope="row" class="fix-text" style="width: 250px">{{ item.product.name }}</th>
                        <td style="width: 350px">{{ item.product.category }}</td>
                      <td style="width: 350px">Price: {{ item.product.price }} </td>
                        <td style="width: 350px">Quantity: {{ item.quantity }}</td>
                    </tr>
                  </tbody>
                </table>
            </a>
                <h5 style="text-align: end">Total Price: {{ total}}</h5>
                <button style="text-align: end" class="btn btn-success">Оформить заказ</button>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </div>

{% endblock %}