{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Navbar</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top px-3 {% if shop.theme == 'blue' %} bg-primary {% endif %}"
     style="box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); background-color: {{ shop.theme }}">
    <div class="d-flex align-items-center">
        <img class="rounded-circle mr-3" style="object-fit: cover" src="{{ shop.logo.url }}" width="50" height="50" alt="{{ shop.name }}">
        <div class="mr-3"
             style="color: {% if shop.theme == 'white' %} black {% else %} white {% endif %}">{{ shop.name }}</div>
    </div>
    <button class="navbar-toggler {% if shop.theme == 'white' %}{% else %} border-white{% endif %}" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon color-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if shop.user == request.user %}
                <li class="nav-item">
                    <a class="nav-link text-{% if shop.theme == 'white' %}black{% else %}white{% endif %} ms-3"
                       href="{% url 'profile' shop.user.id %}">Личный кабинет</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link text-{% if shop.theme == 'white' %}black{% else %}white{% endif %} ms-3"
                   href="{% url 'home' %}">Главная страница</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container my-5">
    <div class="row justify-content-center pt-5">
        <div class="col-md-8">
            <h2 class="text-center">О магазине {{ shop.name }}</h2>
            <p class="text-center">
                {{ shop.description }}
            </p>
        </div>
    </div>
    <div class="row justify-content-center ">
        {% if products %}
            {% for product in products %}
                <div class="product-card mt-5">
                    <a href="{% url 'detail_product' id=product.id %}">
                        <div id="carousel-{{ product.id }}" class="carousel slide">
                            <div class="carousel-inner">
                                {% for image in product.images.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ image.image.url }}" class="d-block w-100 product-image"
                                             alt="{{ product.name }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carousel-{{ product.id }}" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-{{ product.id }}" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </a>
                    <div class="product-info">
                        <h4>{{ product.name }}</h4>

                        {% if product.time_discount and product.time_discount.start_date <= now %}
                            <p class="fw-700">Цена:
                                <del>{{ product.price }}</del>
                                {{ product.time_discount.discounted_price }}</p>
                            {% if product.time_discount.discount %}
                                <p class="text-success fw-700">Скидка: {{ product.time_discount.discount }}%</p>
                            {% endif %}
                        {% else %}
                            {% if product.discount %}
                                <p>
                                    <del class="text-danger">{{ product.price }}</del>
                                    {{ product.discounted_price }}
                                </p>
                                <p class="text-success fw-700">Скидка: {{ product.discount }}%</p>
                            {% else %}
                                <div id="priceDiscount">
                                    <p id="price" class="fw-700">Цена: {{ product.price }}</p>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}

        {% else %}
            <h1 class="mt-5">Товары отсутствуют</h1>
        {% endif %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/shop.js' %}"></script>
</body>

</html>
