.login-card {
    display: flex;
    flex-direction: row;
}

.login-content {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.right-side img {
    max-width: 80%;
}

@media screen and (max-width: 767px) {
    .login-card {
        flex-direction: column;
    }
    .login-content {
        padding-right: 0;
        border-right: none;
    }
}